<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.it.zqm.dao.mapper.NsProvinceMapper">
    
    <resultMap type="com.it.zqm.dao.entity.NsProvince" id="NsProvinceResult">
        <result property="provinceId"    column="province_id"    />
        <result property="provinceCode"    column="province_code"    />
        <result property="provinceName"    column="province_name"    />
        <result property="shortName"    column="short_name"    />
        <result property="lng"    column="lng"    />
        <result property="lat"    column="lat"    />
        <result property="sort"    column="sort"    />
        <result property="gmtCreate"    column="gmt_create"    />
        <result property="gmtModified"    column="gmt_modified"    />
        <result property="memo"    column="memo"    />
        <result property="dataState"    column="data_state"    />
        <result property="tenantCode"    column="tenant_code"    />
    </resultMap>
	
	<sql id="selectNsProvinceVo">
        select province_id, province_code, province_name, short_name, lng, lat, sort, gmt_create, gmt_modified, memo, data_state, tenant_code from t_ns_province
    </sql>
	
    <select id="queryNsProvinceList" parameterType="com.it.zqm.dao.entity.NsProvince" resultMap="NsProvinceResult">
        <include refid="selectNsProvinceVo"/>
        <where>  
            <if test="provinceId != null "> and province_id = #{provinceId}</if>
             <if test="provinceCode != null  and provinceCode != '' "> and province_code = #{provinceCode}</if>
             <if test="provinceName != null  and provinceName != '' "> and province_name = #{provinceName}</if>
             <if test="shortName != null  and shortName != '' "> and short_name = #{shortName}</if>
             <if test="lng != null  and lng != '' "> and lng = #{lng}</if>
             <if test="lat != null  and lat != '' "> and lat = #{lat}</if>
             <if test="sort != null "> and sort = #{sort}</if>
             <if test="gmtCreate != null "> and gmt_create = #{gmtCreate}</if>
             <if test="gmtModified != null "> and gmt_modified = #{gmtModified}</if>
             <if test="memo != null  and memo != '' "> and memo = #{memo}</if>
             <if test="dataState != null "> and data_state = #{dataState}</if>
             <if test="tenantCode != null  and tenantCode != '' "> and tenant_code = #{tenantCode}</if>
         </where>
    </select>
    
</mapper>